bs4
python-dotenv
SmartApi-python
gspread
oauth2client
pandas
pandas_ta
ta
pyotp
pytz
pycryptodome>=3.19.0
openpyxl
logzero
websocket-client
numpy
dateutils
datetime
urllib3
schedule
gspread_dataframe
