requests
bs4
python-dotenv
smartapi-python
gspread
oauth2client
pandas
pyotp
pytz
setuptools
pycryptodome>=3.19.0
pandas-ta
openpyxl
logzero
websocket-client
numpy==1.23.5
dateutils
datetime
urllib3
schedule
pandas_ta
gspread_dataframe
httpx
ta
ta-lib
