bs4
python-dotenv
smartapi-python
gspread
oauth2client
pandas
pandas-ta
ta
pyotp
pytz
pycryptodome>=3.19.0
openpyxl
logzero
websocket-client
numpy==1.23.5
dateutils
datetime
urllib3
schedule
gspread_dataframe
